.DS_Store
npm-debug.log

.gitattributes
.gitignore
.travis.yml

/node_modules/
/backups/
/files/tasks/
/files/statics/
/files/templates/
/files/tasks/
/files/config/
/files/shares/
/files/masterdb/
/files/logs/
/docs/