<!DOCTYPE html>
<html data-ng-app="mobilecenter">
	<head>
		<title>UI Beta</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="">

		<meta property="og:description" content=""/>
		<meta property="og:image" content="http://image.png"/>
		<meta property="og:title" content=""/>

		<meta name="apple-mobile-web-app-title" content="UI Beta">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

		<link rel="apple-touch-icon" href="img/touch-icon-iphone.png">
		<link rel="apple-touch-icon" sizes="76x76" href="img/touch-icon-ipad.png">
		<link rel="apple-touch-icon" sizes="120x120" href="img/touch-icon-iphone-retina.png">
		<link rel="apple-touch-icon" sizes="152x152" href="img/touch-icon-ipad-retina.png">
		<link rel="apple-touch-startup-image" href="img/touch-startup-image.png" />
		<link rel="icon" type="image/png" href="img/favicon.png" />

		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />

		<script defer src="libs/fastclick.js"></script>
		<script defer src="libs/angular.min.js"></script>
		<script defer src="libs/angular-sanitize.min.js"></script>
		<script defer src="../jssdk/subkit.js"></script>
		<script defer src="../jssdk/angularsubkit.js"></script>
		<script defer src="libs/add2home.js"></script>
		<script defer src="js/nav.js"></script>
		<script defer src="js/app.js"></script>
	</head>
	<body class="flat">
		<views style="width: 100%;">
			<div class="notification-bar"></div>
			<div data-ng-controller="LoginCtrl">
				<view data-content="login" next="info" nexttext="info" headertext="subkit">
					<form name="loginf">
						<div class="row">
							<input type="text" class="input" name="ldomain" placeholder="domain" data-ng-model="domain" required>
							<span class="validationerror" ng-show="loginf.ldomain.$error.required">Required!</span>
						</div>
						<div class="row">
							<input type="text" class="input" name="lusername" placeholder="username" data-ng-model="username" required>
							<span class="validationerror" ng-show="loginf.lusername.$error.required">Required!</span>
						</div>
						<div class="row">
							<input type="password" class="input" name="lpassword" placeholder="password" data-ng-model="password" required>
							<span class="validationerror" ng-show="loginf.lpassword.$error.required">Required!</span>
						</div>
					</form>
					<div class="row">
						<button class="flatButton" data-ng-click="login()" ng-disabled="!loginf.$valid">Login</button>
					</div>
					<div class="row center">
						<span class="error" data-ng-bind="error"></span>
					</div>
					<div class="row center">
						<go data-view="registration" class="rotateButton">+</go>
					</div>
				</view>
				<view data-content="registration" class="hidden" back="login" backtext="back" headertext="registration">
					<div class="row">
						<button class="flatButton" data-ng-click="register()" ng-disabled="!signupf.$valid">Register</button>
					</div>
					<div data-ng-show="hasEnter" class="rowtext" style="text-align: center; width: 100%;">
						<h1 data-ng-bind="loading"></h1>
					</div>
					<div data-ng-hide="hasEnter">
						<form name="signupf">
							<div class="rowtext">
								<span>Username: </span>
								<input type="text" name="newusername" data-ng-model="$parent.newUsername" placeholder="enter username" ng-required="true" ng-minlength="5" ng-maxlength="20">
								<span class="validationerror" ng-show="signupf.newusername.$error.required">Required!</span>
								<span class="validationerror" ng-show="signupf.newusername.$error.minlength">Too short!</span>
								<span class="validationerror" ng-show="signupf.newusername.$error.maxlength">Too long!</span>
							</div>
							<div class="rowtext">
								<span>Password: </span>
								<input type="password" name="newpassword" data-ng-model="$parent.newPassword" placeholder="enter password" ng-required="true" ng-minlength="8" ng-maxlength="20" valid-password>
								<span class="validationerror" ng-show="signupf.newpassword.$error.required">Required!</span>
								<span class="validationerror" ng-show="signupf.newpassword.$error.minlength">Too short!</span>
								<span class="validationerror" ng-show="signupf.newpassword.$error.validPassword" title="Uppercase letters, lowercase letters, special characters and/or digits. Do not repeat characters!">Uppercase letters, lowercase letters, special characters and/or digits. Do not repeat characters!</span>
								<span class="validationerror" ng-show="signupf.newpassword.$error.maxlength">Too long!</span>
							</div>
						</form>
					</div>
				</view>
				<view data-content="info" class="hidden" back="login" backtext="back" headertext="info">
					<div class="rowtext">
						SubKit
					</div>
					<p>
		                <div class="shares">
							<a class="link" href="http://subkit.io" data-name="subkitapp" target="_blank"></a>
							<a class="mail" href="mailto:go@subkit.io" data-name="mailapp"></a>
							<a class="twitter" href="https://twitter.com/subkit" data-name="twitterapp" target="_blank"></a>
							<a class="facebook" href="https://www.facebook.com/subkit" data-name="facebookapp" target="_blank"></a>
							<a class="gplus" href="https://plus.google.com/communities/106679532612202656243?hl=de" data-name="gplusapp" target="_blank"></a>
						</div>
					</p>
				</view>
			</div>

			<view data-content="center" class="hidden" back="login" backtext="logout" nexttext="account" next="account" headertext="center">
				<div class="centerMenu">
					<go data-view="storage" class="tileButton largeTile">store</go>
					<go data-view="pubsub" class="tileButton largeTile">pubsub</go>
					<go data-view="files" class="tileButton largeTile">files</go>
					<go data-view="templates" class="tileButton largeTile">templates</go>
					<go data-view="tasks" class="tileButton largeTile">tasks</go>
				</div>
				<div class="centerMenu">
					<go data-view="identity" class="tileButton largeTile">identity</go>
					<go data-view="email" class="tileButton largeTile">email</go>
					<go data-view="pushnotify" class="tileButton largeTile">push notify</go>
					<go data-view="location" class="tileButton largeTile">location</go>
					<go data-view="statistics" class="tileButton largeTile">stats</go>
				</div>
			</view>

			<div data-ng-controller="StorageCtrl">
				<view data-content="storage" class="hidden" backtext="center" headertext="store">
					<div class="menu">
						<button data-ng-click="previous()" data-ng-show="hasParent()" class="tileButton mediumTile">previous</button>
						<button data-ng-click="json(key)" data-ng-show="isJSON()" class="tileButton mediumTile">json</button>
					</div>
					<div class="row">
						<form name="storefnewstore">
							<input type="text" class="input" placeholder="new" data-ng-model="$parent.itemName" name="newstore" required ng-minlength="3">
							<span class="validationerror" ng-show="storefnewstore.newstore.$error.required">Required!</span>
							<span class="validationerror" ng-show="storefnewstore.newstore.$error.minlength">At least three characters!</span>
							<button class="rotateButton" data-ng-click="create(itemName)" ng-disabled="!storefnewstore.$valid">+</button>
						</form>
					</div>
					<ul class="arrowlist">
						<li data-ng-repeat="store in stores">
							<div class="{{(!store.value) ? 'arrow' : 'nonarrow'}}">
								<button class="item" data-ng-show="!store.value" data-ng-bind="store.key" data-ng-click="next(store.key)"></button>
								<button class="item" data-ng-show="store.value" data-ng-bind="store.key" data-ng-click="edit(store.dataKey)"></button>
							</div>
							<button class="rotateButton" data-ng-click="remove(store.dataKey)">&ndash;</button>
						</li>
					</ul>
				</view>
				<view data-content="valueeditor" class="hidden" headertext="value" backtext="store">
					<div class="row">
						<button class="flatButton" data-ng-click="saveValue()">Save</button>
					</div>
					<div class="rowtext">
						<span>Property: </span>
						<span data-ng-bind="keyData"></span>
					</div>
					<form name="storefveditor">
						<textarea data-ng-model="valueData[keyData]" class="codeeditor" rows="20" name="storeveditor"></textarea>
						<!--<span class="validationerror" ng-show="storefveditor.storeveditor.$error.required">Required!</span>
						<span class="validationerror" ng-show="storefveditor.storeveditor.$error.minlength">At least one character!</span>-->
					</form>
				</view>
				<view data-content="jsoneditor" class="hidden" headertext="json" backtext="store">
					<form name="storefjeditor">
						<textarea data-ng-model="$parent.jsonData" class="codeeditor" rows="20" name="storejeditor" required valid-json></textarea>
						<span class="validationerror" ng-show="storefjeditor.storejeditor.$error.validJson" title="The JSON string you provided was composed containing errors. Please check for errors in your data structure!">The JSON string you provided was composed containing errors. Please check for errors in your data structure!</span>
						<div class="row">
							<button class="flatButton" data-ng-click="saveJson()" ng-disabled="!storefjeditor.$valid">Save</button>
						</div>
					</form>
				</view>
			</div>

			<div data-ng-controller="PubSubCtrl">
				<view data-content="pubsub" class="hidden" back="center" backtext="center" headertext="pubsub">
					<div class="menu">
					</div>
					<div class="row">
						<form name="pubsubfnewpub">
							<input type="text" class="input" placeholder="new" data-ng-model="$parent.channelName" name="newpub" required ng-minlength="3">
							<span class="validationerror" ng-show="pubsubfnewpub.newpub.$error.required">Required!</span>
							<span class="validationerror" ng-show="pubsubfnewpub.newpub.$error.minlength">At least three characters!</span>
							<button class="rotateButton" data-ng-click="create(channelName)" ng-disabled="!pubsubfnewpub.$valid">+</button>
						</form>
					</div>
					<ul class="arrowlist">
						<li data-ng-repeat="channel in channels">
							<button class="item" data-ng-bind="channel" data-ng-click="open(channel)"></button>
							<button class="rotateButton" data-ng-click="remove(channel)">&ndash;</button>
						</li>
					</ul>					
				</view>
				<view data-content="channeleditor" class="hidden" headertext="channel" backtext="channels">
					<div class="menu">
						<button data-ng-click="subscribe(keyData)" class="tileButton largeTile">subscribe</button>
						<button data-ng-click="unsubscribe(keyData)" class="tileButton largeTile">unsubscibe</button>
					</div>
					<div class="row rowtext">
						<span>Channel: </span>
						<span data-ng-bind="keyData"></span>
						<span>Status: </span>
						<span data-ng-bind="channelStatus" class="error"></span>
					</div>
					<form name="pubsubfnewval">
						<span>Value: </span><input type="text" data-ng-model="messageValue" name="pubnewval" required>
						<span class="validationerror" ng-show="pubsubfnewval.pubnewval.$error.required">Required!</span>
						<button data-ng-click="publish(keyData, messageValue)" class="tileButton" ng-disabled="!pubsubfnewval.$valid">publish</button>
					</form>
					<div class="codepreview">
					<ul>
						<li data-ng-repeat="message in messageLog">
							<div data-ng-bind="message.value"></div>
						</li>
					</ul>
					</div>
				</view>
			</div>

			<view data-content="statistics" class="hidden" back="center" backtext="center" headertext="statistics">
				<div data-ng-controller="StatisticsCtrl">
					<div class="menu">
						<div class="tileButton largeTile">
							<span class="light">Connections</span>
							<div class="big" data-ng-bind="connections"></div>
						</div>
						<div class="tileButton largeTile">
							<span class="light">Transfers</span>
							<span class="light">KB</span>
							<div class="big" data-ng-bind="totalKBytes"></div>
						</div>
						<div class="tileButton largeTile">
							<span class="light">Requests</span>
							<div class="big" data-ng-bind="requestNumber"></div>
						</div>
						<div class="tileButton largeTile">
							<span class="light">DB</span>
							<span class="light">KB</span>
							<div class="big" data-ng-bind="dbSizeKBytes"></div>
						</div>
						<div class="tileButton largeTile">
							<span class="light">Statics</span>
							<span class="light">KB</span>
							<div class="big" data-ng-bind="staticsDirSizeKBytes"></div>
						</div>
					</div>
					<div style="clear: both;">
						<h1 class="rowtext small" style="font-weight: bold;">Urls Count</h1>
						<ul class="arrowlist">
							<li data-ng-repeat="url in urls">
								<div class="rowtext small">
									<span data-ng-bind="url.value" style="font-weight: bold;"></span>
									<span data-ng-bind="url.key"></span>
								</div>
							</li>
						</ul>
						<h1 class="rowtext small" style="font-weight: bold;">Agents Count</h1>
						<ul class="arrowlist">
							<li data-ng-repeat="agent in agents">
								<div class="rowtext small">
									<span data-ng-bind="agent.value" style="font-weight: bold;"></span>
									<span data-ng-bind="agent.key"></span>
								</div>
							</li>
						</ul>
						<h1 class="rowtext small" style="font-weight: bold;">Transfers Count</h1>
						<ul class="arrowlist">
							<li data-ng-repeat="transfer in transfers">
								<div class="rowtext small">
									<span data-ng-bind="transfer.value" style="font-weight: bold;"></span>
									<span data-ng-bind="transfer.key"></span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</view>	

			<div data-ng-controller="FilesCtrl">
				<view data-content="files" class="hidden" back="center" backtext="back" headertext="files">
					<div class="menu">
						<input type="file" multiple id="fileUpload" style="display: none;">
						<button data-ng-click="upload('fileUpload')" class="tileButton mediumTile">upload</button>
					</div>
					<div class="row">
						<form name="filefnewfile">
							<input type="text" class="input" placeholder="new" data-ng-model="$parent.fileName" name="addfile" required>
							<span class="validationerror" ng-show="filefnewfile.addfile.$error.required">Required!</span>
							<button class="rotateButton" data-ng-click="create(fileName)" ng-disabled="!filefnewfile.$valid" >+</button>
						</form>
					</div>
					<ul class="arrowlist">
						<li data-ng-repeat="file in files">
							<button class="item" data-ng-bind="file" data-ng-click="open(file)"></button>
							<button class="rotateButton" data-ng-click="remove(file)">&ndash;</button>
						</li>
					</ul>
				</view>
				<view data-content="fileeditor" class="hidden" headertext="editor" backtext="files">
					<div class="row">
						<button class="flatButton" data-ng-click="save()">save</button>
					</div>
					<div class="rowtext">
						<span>File: </span>
						<span data-ng-bind="keyData"></span>
						<button class="tileButton" data-ng-click="preview(keyData)">preview</button>
					</div>
					<textarea data-ng-model="$parent.valueData" class="codeeditor" rows="20"></textarea>
				</view>
				<view data-content="filepreview" class="hidden" headertext="preview" backtext="editor">
					<div data-ng-bind-html="previewOutput" class="codepreview"></div>
				</view>
			</div>

			<div data-ng-controller="TasksCtrl">
				<view data-content="tasks" class="hidden" back="center" backtext="back" headertext="tasks">
					<div class="menu">
						<input type="file" multiple id="fileUpload" style="display: none;">
						<button data-ng-click="upload('fileUpload')" class="tileButton mediumTile">upload</button>
					</div>
					<div class="row">
						<form name="tasksfnew">
							<input type="text" class="input" placeholder="new" data-ng-model="$parent.fileName" name="addtask" required>
							<span class="validationerror" ng-show="tasksfnew.addtask.$error.required">Required!</span>
							<button class="rotateButton" data-ng-click="create(fileName)" ng-disabled="!tasksfnew.$valid">+</button>
						</form>
					</div>
					<ul class="arrowlist">
						<li data-ng-repeat="task in tasks">
							<button class="item" data-ng-bind="task" data-ng-click="show(task)"></button>
							<button class="rotateButton" data-ng-click="remove(task)">&ndash;</button>
						</li>
					</ul>
				</view>
				<view data-content="taskeditor" class="hidden" headertext="editor" backtext="tasks">
					<form name="tasksfeditor">
						<div class="row">
							<button class="flatButton" data-ng-click="save()" ng-disabled="false">Save</button>
						</div>
						<div class="rowtext">
							<span>Task: </span>
							<span data-ng-bind="keyData"></span>
							<button class="tileButton" data-ng-click="run(keyData)" ng-disabled="!tasksfeditor.$valid">Run</button>
						</div>
						<textarea data-ng-model="$parent.valueData" class="codeeditor" rows="20" name="taskeditor" required></textarea>
					</form>
				</view>
				<view data-content="taskpreview" class="hidden" headertext="preview" backtext="editor">
					<div data-ng-bind="previewOutput" class="codepreview"></div>
				</view>				
			</div>

			<div data-ng-controller="TemplatesCtrl">
				<view data-content="templates" class="hidden" back="center" backtext="back" headertext="templates">
					<div class="menu">
						<input type="file" multiple id="fileUpload" style="display: none;">
						<button data-ng-click="upload('fileUpload')" class="tileButton mediumTile">upload</button>
					</div>
					<div class="row">
						<form name="templatefnew">
							<input type="text" class="input" placeholder="new" data-ng-model="$parent.fileName" name="addtemplate" required ng-minlength="2">
							<span class="validationerror" ng-show="templatefnew.addtemplate.$error.required">Required!</span>
							<span class="validationerror" ng-show="templatefnew.addtemplate.$error.minlength">At least two characters!</span>
							<button class="rotateButton" data-ng-click="create(fileName)" ng-disabled="!templatefnew.$valid">+</button>
						</form>
					</div>
					<ul class="arrowlist">
						<li data-ng-repeat="template in templates">
							<button class="item" data-ng-bind="template" data-ng-click="show(template)"></button>
							<button class="rotateButton" data-ng-click="remove(template)">&ndash;</button>
						</li>
					</ul>
				</view>
				<view data-content="templateeditor" class="hidden" headertext="editor" backtext="templates">
					<div class="row">
						<button class="flatButton" data-ng-click="save()">save</button>
					</div>
					<div class="rowtext">
						<span>Template: </span>
						<span data-ng-bind="keyData"></span>
						<button class="tileButton" data-ng-click="preview(keyData)">preview</button>
					</div>
					<textarea data-ng-model="$parent.valueData" class="codeeditor" rows="20"></textarea>
				</view>
				<view data-content="templatepreview" class="hidden" headertext="preview" backtext="editor">
					<div data-ng-bind-html="previewOutput" class="codepreview"></div>
				</view>				
			</div>

			<view data-content="account" class="hidden" back="center" backtext="back" headertext="account">
				<div data-ng-controller="AccountCtrl" name="account">
					<hr>
					<h3 class="subHead">General Informations</h3>
					<hr>
					<div class="rowtext">
						<span>Domain: </span>
						<span data-ng-bind="domain"></span>
					</div>
					<div class="rowtext">
						<span>API Key: </span>
						<input type="text" data-ng-model="apiKey" required>
					</div>
					<div class="rowtext">
						<span>Username: </span>
						<input type="text" data-ng-model="username" required>
					</div>
					<div class="rowtext">
						<span>Password: </span>
						<input type="password" data-ng-model="password" required>
					</div>
					<div class="rowtext">
						<span>Validation: </span>
						<input type="password" data-ng-model="passwordValidation" required>
					</div>
					<hr>
					<h3 class="subHead">Personal Informations</h3>
					<hr>
					<div class="rowtext">
						<span>Name</span>
						<input type="text" data-ng-model="piName" required>
					</div>
					<div class="rowtext">
						<span>Lastname</span>
						<input type="text" data-ng-model="piLastname" required>
					</div>
					<div class="rowtext">
						<span>Street and Number</span>
						<input type="text" data-ng-model="piAddress" required>
					</div>
					<div class="rowtext">
						<span>ZIP</span>
						<input type="text" data-ng-model="piZip" required>
					</div>
					<div class="rowtext">
						<span>Country</span>
						<input type="text" data-ng-model="piCountry" required>
					</div>
					<hr>
					<h3 class="subHead">Billing Informations (leave empty if it's the same as above)</h3>
					<hr>
					<div class="rowtext">
						<span>Name</span>
						<input type="text" data-ng-model="biName">
					</div>
					<div class="rowtext">
						<span>Lastname</span>
						<input type="text" data-ng-model="biLastname">
					</div>
					<div class="rowtext">
						<span>Street and Number</span>
						<input type="text" data-ng-model="biAddress">
					</div>
					<div class="rowtext">
						<span>ZIP</span>
						<input type="text" data-ng-model="biZip">
					</div>
					<div class="rowtext">
						<span>Country</span>
						<input type="text" data-ng-model="biCountry">
					</div>
					<hr>
					<h3 class="subHead">Provisioning</h3>
					<hr>
					<div class="payment">
						<div class="provBox">
							<div class="provHead">Development</div>
							<div class="provContent">
								<ul>
									<li>5 GB Data Transfer</li>
									<li>50 Max Concurrent Connections</li>
									<li>100 MB Data Storage</li>
								</ul>
							</div>
							<div class="pselector"><input type="radio" ng-model="provisioning" value="dev" checked='checked'></div>
						</div>
						<div class="provBox">
							<div class="provHead">Startup</div>
							<div class="provContent">
								<ul>
									<li>20 GB Data Transfer  + 2€ per additional GB</li>
									<li>200 Concurrent Connections + 0.20€ per additional Connection</li>
									<li>3 GB Data Storage</li>
								</ul>
							</div>
							<div class="pselector"><input type="radio" ng-model="provisioning" value="su"></div>
						</div>
						<div class="provBox">
							<div class="provHead">Production</div>
							<div class="provContent">
								<ul>
									<li>275 GB Data Transfer  + 1,75€ per additional GB</li>
									<li>750 Concurrent Connections + 0.15€ per additional Connection</li>
									<li>10 GB Data Storage</li>
								</ul>
							</div>
							<div class="pselector"><input type="radio" ng-model="provisioning" value="prod"></div>
						</div>
						<div class="provBox">
							<div class="provHead">Scale</div>
							<div class="provContent">
								<ul>
									<li>250 GB Data Transfer  + 1,50€ per additional GB</li>
									<li>2500 Concurrent Connections + 0.10€ per additional Connection</li>
									<li>30 GB Data Storage</li>
								</ul>
							</div>
							<div class="pselector"><input type="radio" ng-model="provisioning" value="scale"></div>
						</div>
						<div class="provBox">
							<div class="provHead">Top App</div>
							<div class="provContent">
								<ul>
									<li>1000 GB Data Transfer  + 1,00€ per additional GB</li>
									<li>10000 Concurrent Connections + 0.50€ per additional Connection</li>
									<li>100 GB Data Storage</li>
								</ul>
							</div>
							<div class="pselector"><input type="radio" ng-model="provisioning" value="top"></div>
						</div>
						<div class="provBox">
							<div class="provHead">MEAP</div>
							<div class="provContent">
								<ul>
									<li>If you are interested in setting up SubKit as a <strong>Mobile Enterprise Application Platform</strong>, contact our customer support for further informations please.</li>
								</ul>
							</div>
							<div class="pselector"></div>
						</div>
					</div>
					<div class="clear"></div>
					<hr>
					<div class="row">
						<button class="flatButton" data-ng-click="save()">Save</button>
					</div>
				</div>
			</view>

			<div data-ng-controller="IdentityCtrl">
				<view data-content="identity" class="hidden" headertext="identity" backtext="back" back="center">
					<div class="row">
						<form name="identiyfnew">
							<input type="text" class="input" placeholder="new" data-ng-model="$parent.userId" name="addidentity" required ng-minlength="2">
							<span class="validationerror" ng-show="identiyfnew.addidentity.$error.required">Required!</span>
							<span class="validationerror" ng-show="identiyfnew.addidentity.$error.minlength">At least two characters!</span>
							<button class="rotateButton" data-ng-click="create(userId)" ng-disabled="!identiyfnew.$valid">+</button>
						</form>
					</div>
					<ul class="arrowlist">
						<li data-ng-repeat="item in items">
							<button class="item" data-ng-bind="item.key" data-ng-click="open(item)"></button>
							<button class="rotateButton" data-ng-click="remove(item.key)">&ndash;</button>
						</li>
					</ul>
				</view>
				<view data-content="identityeditor" class="hidden" headertext="edit identity" backtext="identity">
					<form name="identiyfacc">
						<div class="row">
							<button class="flatButton" data-ng-click="save()" ng-disabled="!identiyfacc.idusername.$valid || !identiyfacc.idpassword.$valid">save</button>
						</div>
						<div class="rowtext">
							<span>Identity:</span>
							<input type="text" data-ng-model="identity.username" placeholder="username" name="idusername" required ng-minlength="2" ng-maxlength="20" maxlength="20">
							<span class="validationerror" ng-show="identiyfacc.idusername.$error.required">Required!</span>
							<span class="validationerror" ng-show="identiyfacc.idusername.$error.minlength">At least two characters!</span>
							<span class="validationerror" ng-show="identiyfacc.idusername.$error.maxlength">Too long!</span>
						</div>
						<div class="rowtext">
							<span>Password:</span>
							<input type="password" data-ng-model="identity.password" placeholder="password" name="idpassword" required ng-minlength="8" ng-maxlength="20" valid-password maxlength="20">
								<span class="validationerror" ng-show="identiyfacc.idpassword.$error.required">Required!</span>
								<span class="validationerror" ng-show="identiyfacc.idpassword.$error.minlength">Too short!</span>
								<span class="validationerror" ng-show="identiyfacc.idpassword.$error.validPassword" title="Uppercase letters, lowercase letters, special characters and/or digits. Do not repeat characters!">Uppercase letters, lowercase letters, special characters and/or digits. Do not repeat characters!</span>
								<span class="validationerror" ng-show="identiyfacc.idpassword.$error.maxlength">Too long!</span>					
						</div>
						<div class="row">
							<input type="text" class="input" placeholder="new" data-ng-model="$parent.newGroupName" name="addgroup" required ng-minlength="2">
							<span class="validationerror" ng-show="identiyfacc.addgroup.$error.required">Required!</span>
							<span class="validationerror" ng-show="identiyfacc.addgroup.$error.minlength">Too short!</span>
							<button class="rotateButton" data-ng-click="addToGroup(newGroupName)" ng-disabled="!identiyfacc.addgroup.$valid" >+</button>
						</div>
						<div class="rowtext" style="height: 100%;">
							<div data-ng-repeat="group in identity.groups" class="rowtext">
								<span data-ng-bind="group.key"></span>
								<input type="checkbox" data-ng-model="group.value">
							</div>
						</div>
					</form>
				</view>
			</div>

			<div data-ng-controller="EMailCtrl">
				<view data-content="email" class="hidden" headertext="email" backtext="back" back="center" next="emailsettings" nexttext="settings">
				</view>
				<view data-content="emailsettings" class="hidden" headertext="settings" backtext="back" back="email">
				</view>
			</div>

			<div data-ng-controller="PushNotifyCtrl">
				<view data-content="pushnotify" class="hidden" headertext="push notify" backtext="back" back="center" next="pushnotifysettings" nexttext="settings">
				</view>
				<view data-content="pushnotifysettings" class="hidden" headertext="settings" backtext="back" back="pushnotify">
				</view>
			</div>

			<div data-ng-controller="LocationCtrl">
				<view data-content="location" class="hidden" headertext="location" backtext="back" back="center">
				</view>
			</div>
		</views>
	</body>
</html>
