<!DOCTYPE html>
<html data-ng-app="mobilecenter">
	<head>
		<title>UI Beta</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="">

		<meta property="og:description" content=""/>
		<meta property="og:image" content="http://image.png"/>
		<meta property="og:title" content=""/>

		<meta name="apple-mobile-web-app-title" content="UI Beta">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

		<link rel="apple-touch-icon" href="img/touch-icon-iphone.png">
		<link rel="apple-touch-icon" sizes="76x76" href="img/touch-icon-ipad.png">
		<link rel="apple-touch-icon" sizes="120x120" href="img/touch-icon-iphone-retina.png">
		<link rel="apple-touch-icon" sizes="152x152" href="img/touch-icon-ipad-retina.png">
		<link rel="apple-touch-startup-image" href="img/touch-startup-image.png" />
		<link rel="icon" type="image/png" href="img/favicon.png" />

		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />

		<script defer src="libs/fastclick.js"></script>
		<script defer src="libs/angular.min.js"></script>
		<script defer src="libs/angular-sanitize.min.js"></script>
		<script defer src="../jssdk/subkit.js"></script>
		<script defer src="../jssdk/angularsubkit.js"></script>
		<script defer src="libs/add2home.js"></script>
		<script defer src="js/nav.js"></script>
		<script defer src="js/app.js"></script>
	</head>
	<body class="flat">
		<views style="width: 100%;">
			<div data-ng-controller="LoginCtrl">
				<view data-content="login" next="info" nexttext="info" headertext="subkit">
					<div class="row">
						<input type="text" class="input" placeholder="domain" data-ng-model="domain">
					</div>
					<div class="row">
						<input type="text" class="input" placeholder="username" data-ng-model="username">
					</div>
					<div class="row">
						<input type="password" class="input" placeholder="password" data-ng-model="password">
					</div>
					<div class="row">
						<button class="flatButton" data-ng-click="login()">Login</button>
					</div>
					<div class="row center">
						<span class="error" data-ng-bind="error"></span>
					</div>
					<div class="row center">
						<go data-view="registration" class="rotateButton">+</go>
					</div>
				</view>
				<view data-content="registration" class="hidden" back="login" backtext="back" headertext="registration">
					<div class="row">
						<button class="flatButton" data-ng-click="register()">Register</button>
					</div>
					<div data-ng-show="hasEnter" class="rowtext" style="text-align: center; width: 100%;">
						<h1 data-ng-bind="loading"></h1>
					</div>
					<div data-ng-hide="hasEnter">
						<form name="signup">
							<div class="rowtext">
								<span>Username: </span>
								<input type="text" name="newusername" data-ng-model="$parent.newUsername" placeholder="enter username" ng-required="true" ng-minlength="5" ng-maxlength="20">
								<span class="validationerror" ng-show="signup.newusername.$error.required">Required!</span>
								<span class="validationerror" ng-show="signup.newusername.$error.minlength">Too short!</span>
								<span class="validationerror" ng-show="signup.newusername.$error.maxlength">Too long!</span>
							</div>
							<div class="rowtext">
								<span>Password: </span>
								<input type="password" name="newpassword" data-ng-model="$parent.newPassword" placeholder="enter password" ng-required="true" ng-minlength="10" ng-maxlength="20">
								<span class="validationerror" ng-show="signup.newpassword.$error.required">Required!</span>
								<span class="validationerror" ng-show="signup.newpassword.$error.minlength">Too short!</span>
								<span class="validationerror" ng-show="signup.newpassword.$error.maxlength">Too long!</span>
							</div>
							<div style="color:#000">
								<hr>
								<span>Validation Debug Output!</span><br><br>
								<tt>signup.newusername.$error = {{signup.newusername.$error}}</tt><br>
								<tt>signup.newpassword.$error = {{signup.newpassword.$error}}</tt><br>
								<tt>{{signup.$valid}}</tt><br>
							</div>
						</form>
					</div>
				</view>
				<view data-content="info" class="hidden" back="login" backtext="back" headertext="info">
					<div class="rowtext">
						SubKit
					</div>
					<p>
		                <div class="shares">
							<a class="link" href="http://subkit.io" data-name="subkitapp" target="_blank"></a>
							<a class="mail" href="mailto:go@subkit.io" data-name="mailapp"></a>
							<a class="twitter" href="https://twitter.com/subkit" data-name="twitterapp" target="_blank"></a>
							<a class="facebook" href="https://www.facebook.com/subkit" data-name="facebookapp" target="_blank"></a>
							<a class="gplus" href="https://plus.google.com/communities/106679532612202656243?hl=de" data-name="gplusapp" target="_blank"></a>
						</div>
					</p>
				</view>
			</div>
			<view data-content="center" class="hidden" back="login" backtext="logout" nexttext="account" next="account" headertext="center">
				<div class="centerMenu">
					<go data-view="storage" class="tileButton largeTile">store</go>
					<go data-view="pubsub" class="tileButton largeTile">pubsub</go>
					<go data-view="files" class="tileButton largeTile">files</go>
					<go data-view="templates" class="tileButton largeTile">templates</go>
					<go data-view="tasks" class="tileButton largeTile">tasks</go>
				</div>
				<div class="centerMenu">
					<go data-view="users" class="tileButton largeTile">users</go>
					<go data-view="email" class="tileButton largeTile">email</go>
					<go data-view="push" class="tileButton largeTile">push</go>
					<go data-view="location" class="tileButton largeTile">location</go>
					<go data-view="statistics" class="tileButton largeTile">stats</go>
				</div>
			</view>
			<div data-ng-controller="StorageCtrl">
				<view data-content="storage" class="hidden" backtext="center" headertext="store">
					<div class="menu">
						<button data-ng-click="previous()" data-ng-show="hasParent()" class="tileButton mediumTile">previous</button>
						<button data-ng-click="json(key)" data-ng-show="isJSON()" class="tileButton mediumTile">json</button>
					</div>
					<div class="row">
						<input type="text" class="input" placeholder="new" data-ng-model="$parent.itemName">
						<button class="rotateButton" data-ng-click="create(itemName)">+</button>
					</div>
					<ul class="arrowlist">
						<li data-ng-repeat="store in stores">
							<div class="{{(!store.value) ? 'arrow' : 'nonarrow'}}">
								<button class="item" data-ng-show="!store.value" data-ng-bind="store.key" data-ng-click="next(store.key)"></button>
								<button class="item" data-ng-show="store.value" data-ng-bind="store.key" data-ng-click="edit(store.dataKey)"></button>
							</div>
							<button class="rotateButton" data-ng-click="remove(store.dataKey)">&ndash;</button>
						</li>
					</ul>
				</view>
				<view data-content="valueeditor" class="hidden" headertext="value" backtext="store">
					<div class="row">
						<button class="flatButton" data-ng-click="saveValue()">Save</button>
					</div>
					<div class="rowtext">
						<span>Property: </span>
						<span data-ng-bind="keyData"></span>
					</div>
					<textarea data-ng-model="valueData[keyData]" class="codeeditor" rows="20"></textarea>
				</view>
				<view data-content="jsoneditor" class="hidden" headertext="json" backtext="store">
					<div class="row">
						<button class="flatButton" data-ng-click="saveJson()">Save</button>
					</div>
					<textarea data-ng-model="$parent.jsonData" class="codeeditor" rows="20"></textarea>
				</view>
			</div>
			<div data-ng-controller="PubSubCtrl">
				<view data-content="pubsub" class="hidden" back="center" backtext="center" headertext="pubsub">
					<div class="menu">
					</div>
					<div class="row">
						<input type="text" class="input" placeholder="new" data-ng-model="$parent.channelName">
						<button class="rotateButton" data-ng-click="create(channelName)">+</button>
					</div>
					<ul class="arrowlist">
						<li data-ng-repeat="channel in channels">
							<button class="item" data-ng-bind="channel" data-ng-click="open(channel)"></button>
							<button class="rotateButton" data-ng-click="remove(channel)">&ndash;</button>
						</li>
					</ul>					
				</view>
				<view data-content="channeleditor" class="hidden" headertext="channel" backtext="channels">
					<div class="menu">
						<button data-ng-click="subscribe(keyData)" class="tileButton largeTile">subscribe</button>
						<button data-ng-click="unsubscribe(keyData)" class="tileButton largeTile">unsubscibe</button>
					</div>
					<div class="row rowtext">
						<span>Channel: </span>
						<span data-ng-bind="keyData"></span>
						<span>Status: </span>
						<span data-ng-bind="channelStatus" class="error"></span>

					</div>
					<div class="rowtext">
						<span>Value: </span>
						<input type="text" data-ng-model="messageValue">
						<button data-ng-click="publish(keyData, messageValue)" class="tileButton">publish</button>
					</div>
					<ul class="codepreview">
						<li data-ng-repeat="message in messageLog">
							<div data-ng-bind="message.value"></div>
						</li>
					</ul>
				</view>

			</div>
			<view data-content="statistics" class="hidden" back="center" backtext="center" headertext="statistics">
				<div data-ng-controller="StatisticsCtrl">
					<div class="menu">
						<div class="tileButton largeTile">
							<span class="light">Connections</span>
							<div class="big" data-ng-bind="connections"></div>
						</div>
						<div class="tileButton largeTile">
							<span class="light">Transfers</span>
							<span class="light">KB</span>
							<div class="big" data-ng-bind="totalKBytes"></div>
						</div>
						<div class="tileButton largeTile">
							<span class="light">Requests</span>
							<div class="big" data-ng-bind="requestNumber"></div>
						</div>
						<div class="tileButton largeTile">
							<span class="light">DB</span>
							<span class="light">KB</span>
							<div class="big" data-ng-bind="dbSizeKBytes"></div>
						</div>
						<div class="tileButton largeTile">
							<span class="light">Statics</span>
							<span class="light">KB</span>
							<div class="big" data-ng-bind="staticsDirSizeKBytes"></div>
						</div>
					</div>
					<div style="clear: both;">
						<h1 class="rowtext small" style="font-weight: bold;">Urls Count</h1>
						<ul class="arrowlist">
							<li data-ng-repeat="url in urls">
								<div class="rowtext small">
									<span data-ng-bind="url.value" style="font-weight: bold;"></span>
									<span data-ng-bind="url.key"></span>
								</div>
							</li>
						</ul>
						<h1 class="rowtext small" style="font-weight: bold;">Agents Count</h1>
						<ul class="arrowlist">
							<li data-ng-repeat="agent in agents">
								<div class="rowtext small">
									<span data-ng-bind="agent.value" style="font-weight: bold;"></span>
									<span data-ng-bind="agent.key"></span>
								</div>
							</li>
						</ul>
						<h1 class="rowtext small" style="font-weight: bold;">Transfers Count</h1>
						<ul class="arrowlist">
							<li data-ng-repeat="transfer in transfers">
								<div class="rowtext small">
									<span data-ng-bind="transfer.value" style="font-weight: bold;"></span>
									<span data-ng-bind="transfer.key"></span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</view>			
			<div data-ng-controller="FilesCtrl">
				<view data-content="files" class="hidden" back="center" backtext="back" headertext="files">
					<div class="menu">
						<input type="file" multiple id="fileUpload" style="display: none;">
						<button data-ng-click="upload('fileUpload')" class="tileButton mediumTile">upload</button>
					</div>
					<div class="row">
						<input type="text" class="input" placeholder="new" data-ng-model="$parent.fileName">
						<button class="rotateButton" data-ng-click="create(fileName)">+</button>
					</div>
					<ul class="arrowlist">
						<li data-ng-repeat="file in files">
							<button class="item" data-ng-bind="file" data-ng-click="open(file)"></button>
							<button class="rotateButton" data-ng-click="remove(file)">&ndash;</button>
						</li>
					</ul>
				</view>
				<view data-content="fileeditor" class="hidden" headertext="editor" backtext="files">
					<div class="row">
						<button class="flatButton" data-ng-click="save()">save</button>
					</div>
					<div class="rowtext">
						<span>File: </span>
						<span data-ng-bind="keyData"></span>
						<button class="tileButton" data-ng-click="preview(keyData)">preview</button>
					</div>
					<textarea data-ng-model="$parent.valueData" class="codeeditor" rows="20"></textarea>
				</view>
				<view data-content="filepreview" class="hidden" headertext="preview" backtext="editor">
					<div data-ng-bind-html="previewOutput" class="codepreview"></div>
				</view>
			</div>
			<div data-ng-controller="TasksCtrl">
				<view data-content="tasks" class="hidden" back="center" backtext="back" headertext="tasks">
					<div class="menu">
						<input type="file" multiple id="fileUpload" style="display: none;">
						<button data-ng-click="upload('fileUpload')" class="tileButton mediumTile">upload</button>
					</div>
					<div class="row">
						<input type="text" class="input" placeholder="new" data-ng-model="$parent.fileName">
						<button class="rotateButton" data-ng-click="create(fileName)">+</button>
					</div>
					<ul class="arrowlist">
						<li data-ng-repeat="task in tasks">
							<button class="item" data-ng-bind="task" data-ng-click="show(task)"></button>
							<button class="rotateButton" data-ng-click="remove(task)">&ndash;</button>
						</li>
					</ul>
				</view>
				<view data-content="taskeditor" class="hidden" headertext="editor" backtext="tasks">
					<div class="row">
						<button class="flatButton" data-ng-click="save()">Save</button>
					</div>
					<div class="rowtext">
						<span>Task: </span>
						<span data-ng-bind="keyData"></span>
						<button class="tileButton" data-ng-click="run(keyData)">Run</button>
					</div>
					<textarea data-ng-model="$parent.valueData" class="codeeditor" rows="20"></textarea>
				</view>
				<view data-content="taskpreview" class="hidden" headertext="preview" backtext="editor">
					<div data-ng-bind="previewOutput" class="codepreview"></div>
				</view>				
			</div>
			<div data-ng-controller="TemplatesCtrl">
				<view data-content="templates" class="hidden" back="center" backtext="back" headertext="templates">
					<div class="menu">
						<input type="file" multiple id="fileUpload" style="display: none;">
						<button data-ng-click="upload('fileUpload')" class="tileButton mediumTile">upload</button>
					</div>
					<div class="row">
						<input type="text" class="input" placeholder="new" data-ng-model="$parent.fileName">
						<button class="rotateButton" data-ng-click="create(fileName)">+</button>
					</div>
					<ul class="arrowlist">
						<li data-ng-repeat="template in templates">
							<button class="item" data-ng-bind="template" data-ng-click="show(template)"></button>
							<button class="rotateButton" data-ng-click="remove(template)">&ndash;</button>
						</li>
					</ul>
				</view>
				<view data-content="templateeditor" class="hidden" headertext="editor" backtext="templates">
					<div class="row">
						<button class="flatButton" data-ng-click="save()">save</button>
					</div>
					<div class="rowtext">
						<span>Template: </span>
						<span data-ng-bind="keyData"></span>
						<button class="tileButton" data-ng-click="preview(keyData)">preview</button>
					</div>
					<textarea data-ng-model="$parent.valueData" class="codeeditor" rows="20"></textarea>
				</view>
				<view data-content="templatepreview" class="hidden" headertext="preview" backtext="editor">
					<div data-ng-bind-html="previewOutput" class="codepreview"></div>
				</view>				
			</div>
			<view data-content="account" class="hidden" back="center" backtext="back" headertext="account">
				<div data-ng-controller="AccountCtrl">
					<div class="row">
						<button class="flatButton" data-ng-click="save()">Save</button>
					</div>
					<div class="rowtext">
						<span>Domain: </span>
						<span data-ng-bind="domain"></span>
					</div>
					<div class="rowtext">
						<span>API Key: </span>
						<input type="text" data-ng-model="apiKey">
					</div>
					<div class="rowtext">
						<span>Username: </span>
						<input type="text" data-ng-model="username">
					</div>
					<div class="rowtext">
						<span>Password: </span>
						<input type="password" data-ng-model="password">
					</div>
					<div class="rowtext">
						<span>Validation: </span>
						<input type="password" data-ng-model="passwordValidation">
					</div>
				</div>
			</view>
			<view data-content="notify" class="hidden" headertext="notification" backtext="close" back="center">
				<h1 data-ng-bind="error" style="color:black;">Message</h1>
				<div style="height:400px; width:400px; border:1px solid black;background-color:white;">
				</div>
			</view>
		</views>
	</body>
</html>
