.rotateButton {
	width: 30px;
	height: 30px;
	border: 1px solid @highlight-color;
	color: @highlight-color;
	border-radius: 300px !important;
	outline: none;
	transition: 0.2s;
	background-color: rgba(255,255,255,0.0);
}
.rotateButton:hover {
	-webkit-transform: rotateZ(360deg);
	-moz-transform: rotateZ(360deg);
	background-color: @highlight-color;
	color: white;
}

.roundButton {
	width: 70px;
	height: 70px;
	font-size: 14px;
	border: 1px solid @highlight-color;
	color: @highlight-color;
	border-radius: 300px !important;
	outline: none;
	transition: 0.2s;
	background-color: rgba(255, 255, 255, 0.0);
}
.roundButton:hover {
	background-color: @highlight-color;
	color: white;
}

.tileButton {
	display: inline-block;
	width: 47px;
	height: 47px;
	vertical-align: middle;
	border: 1px solid @highlight-color;
	color: white;
	outline: none;
	transition: 0.2s;
	background-color: @highlight-color;
	overflow: hidden;
}
.tileButton:hover {
	background-color: white;
	color: @highlight-color;
}
.largeTile {
	width: 80px;
	height: 80px;
}
.mediumTile {
	width: 60px;
	height: 60px;
}
.light {
	font-size: 10px;
}

.middle {
	width: 60px;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
}

.big {
	width: 80px;
	line-height: 70px;
	text-align: right;
	vertical-align: bottom;
}

.flatButton {
	width: 100%;
	height: 100%;
	color: white;
	font-size: 34px !important;
	font-weight: 100 !important;
	outline: none;
	background-color: @highlight-color;
	border-radius: 0px !important;
}

.menu {
	height: 80px;
	float: left;
}

.row {
	height: 40px;
	border-bottom: 1px solid @highlight-color;
	clear: both;
}

.row .rotateButton {
	position: relative;
	top: 5px;
}

.submenu{
	position:fixed; 
	top: 40px;
	width: 100%;
	height: 66px;
	background-color: rgba(241, 65, 3, 0.95);
}

.info {
	background-color: transparent !important;
	background-image: url(../img/info.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}

.back {
	background-color: transparent !important;
	background-image: url(../img/back.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 10px 16px;
}

.float {
	display: inline-block;
	max-width: 380px;
	margin-bottom: 30px;
	font-size: 24px;
}
.content {
	line-height: 1em;
	margin-top: @header-height + 10px !important;
	font-weight: 200;
    color: @content-container-color;
}

.bordered {
    background-color: @content-container-background-color;
    border: 1px solid @highlight-color;	
}

.content button {
	font-weight: 100;
	font-size: 14px;
    -webkit-tap-highlight-color: transparent;
}
.content button:active {
	opacity: 0.3;
}

.content ul {
	color: @highlight-color;
}

.input:hover {
	padding-left: 25px;
}

.input {
	/*width: 400px;*/
	height: 100%;
	position: relative;
	float: left;
	background-color: rgba(255,255,255,0.0);
	border: 0px;
	font-style: italic;
	font-weight: 100;
	color: @highlight-color;
	padding-left: 20px;
	top: 0;
	transition: 0.3s;
	outline: none;
}

.shares {
	text-align: center;
	padding: 30px;
	color: white;
	vertical-align: bottom;
}
.shares a {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 30px 30px;
	-webkit-tap-highlight-color: transparent;
	width: 30px;
	display: inline-block;
	height: 30px;
}
.mail {
	background-image: url(../img/mail.png);
}
.twitter {
	background-image: url(../img/twitter.png);
}
.facebook{
	background-image: url(../img/facebook.png);	
}
.link {
	background-image: url(../img/link.png);
}
.gplus{
	background-image: url(../img/gplus.png);
}
.xing{
	background-image: url(../img/xing.png);
}
.linkedin{
	background-image: url(../img/linkedin.png);
}

.arrowlist li {
	border-bottom: 1px solid @highlight-color;
	text-align: left;
	vertical-align: middle;
	line-height: 40px;
	height: 40px;
}

.arrowlist .arrow {
	background: url(../img/listArrow.svg);
	background-position: right center;
	background-repeat: no-repeat;
	display: inline-block;
}

.arrowlist .nonarrow {
	display: inline-block;
}

.arrowlist li .item {
	width: 400px;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.codeeditor {
	margin-top: 3px;
	width:100%;
	height:auto;
	resize: none;
	border: 1px solid @highlight-color;
}

.codepreview {
	margin-top: 3px;
	color: black;
	height: 500px;
	width:100%;
	resize: none;
	border: 1px solid @highlight-color;
}

.codepreview li {
	font-size: 12px;
	height: 20px;
	color: black;
}

.rowtext {
	color: @highlight-color;
	font-size: 24px;
	font-weight: 100;
	/*width: 400px;*/
	height: 50px;
	text-align: left;
	vertical-align: middle;
	line-height: 50px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.small {
	font-size: 18px;
}

.imprint {
	padding-top: 70px;	
	text-align: center;
	max-width: 480px;
	margin: auto auto;
}

.imprint p {
	text-align: justify;
}

.error {
	color: red;
	line-height: 40px;
	font-style: italic;
	text-shadow: 0 0 6px rgba(0,0,0,.2);
	font-weight: 100;
	font-size: 1.0em;
}

.validationerror {
	color: red;
	vertical-align: middle;
	font-size: 0.8em;
}

.help {
	padding-top: 30px;
	text-align: center;
	max-width: 480px;
	margin: auto auto;
}
.help p {
	text-align: justify;
}

.centerMenu{
	text-align: center;
	margin: 5px;
}

.notification-bar { position:fixed; bottom:2em; left:2em; width:8em; z-index: 9999;}
.notification-message { 
    min-height: 1.5em; 
    margin-top:3px; 
    opacity:0; 
    width:100%; 
    text-align:center; 
    background-color:cornflowerblue; 
    color:white;
    border: solid 1px transparent;
    -webkit-transition:opacity 1s ease-in-out;
    -moz-transition:opacity 1s ease-in-out;
    -o-transition:opacity 1s ease-in-out;
    transition:opacity 1s ease-in-out;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
    padding:5px;
}
.notification-message.show { opacity:1; }
.notification-message.faulty { background-color:red}
.notification-message.warning { background-color:yellow; color: black !important}
.notification-message.notice { background-color:blue}
.notification-message.success { background-color:green}
.notification-message > a {float:right; color: inherit; padding: 5px;}
.notification-message > div { font-size:smaller; }
.notification-message:hover { border: solid 1px white; -moz-box-shadow: 0 0 5px #227598; -webkit-box-shadow: 0 0 5px #227598; box-shadow: 0 0 5px #227598;}

