@import "nav.less";
@import "anim.less";
@import "header.less";
@import "common.less";
@import "media.less";
@import "custom.less";

@import "add2home.less";


@font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
@highlight-color: #227598;

@header-background-color: rgba(255, 255, 255, 1);
@header-color: white;
@header-center-color: #227598;
@header-height: 50px;
@header-buttons-width: 50px;
@header-left-right-button-background-color: #227598;
@header-left-background-image: url(../img/backBtn.svg);
@header-right-background-image: url(../img/nextBtn.svg);
@header-center-background-image: url();
/* @header-center-background-image: url(../img/logo.png); */

@content-container-background-color: rgba(255, 255, 255, 1);
@content-container-color: rgba(255, 255, 255, 1);
@content-background-color: rgba(255, 255, 255, 1);